apiVersion: v1
kind: Namespace
metadata:
  name: apps

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: common
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/flexwie/cluster.git
    targetRevision: HEAD
    path: apps/common
  destination:
    server: https://kubernetes.default.svc
    namespace: apps
  syncPolicy:
    automated: {}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/flexwie/cluster.git
    targetRevision: HEAD
    path: apps/n8n
  destination:
    server: https://kubernetes.default.svc
    namespace: apps
  syncPolicy:
    automated: {}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: paperless
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/flexwie/cluster.git
    targetRevision: HEAD
    path: apps/paperless
  destination:
    server: https://kubernetes.default.svc
    namespace: apps
  syncPolicy:
    automated: {}
